__pycache__
*.pyc
*.pyo
*.egg-info
.env
.git
.gitignore
.DS_Store
node_modules
ai/dataset
ai/trained/*.keras
ai/trained/*.h5
ai/Checkpoints
env
venv
.venv
*.sqlite
*.db
docs
README.md
.pytest_cache
.coverage
htmlcov
build
dist
