# AI
tensorflow
numpy
pillow
matplotlib
scikit-learn
h5py

# Backend & Framework
fastapi[standard]
uvicorn
sqlalchemy>=2.0
psycopg2-binary
pydantic[email]
python-jose[cryptography]
passlib[argon2]
python-multipart
python-dotenv
